.clickable {
  cursor: pointer;
}

#profile_heading {
  padding: 0;
  background-color: var(--p-surface);
  box-shadow: var(--p-card-shadow,
      0 0 0 1px rgba(63, 63, 68, 0.05),
      0 1px 3px 0 rgba(63, 63, 68, 0.15));
  outline: 0.1rem solid transparent;
}

.profile_inner {
  max-width: 935px;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-edit-avatar {
  width: 115px;
  height: 115px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: auto;
  margin-right: auto; 
  cursor: pointer;
  position: relative;
}
.profile-edit-avatar img {
  width: 115px;
  height: 115px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: auto;
  margin-right: auto; 
  cursor: pointer;
  position: relative;
}

.profile-avatar {
  width: 115px;
  height: 115px;
  margin-bottom: 15px;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.profile-avatar img {
  border-radius: 50%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: rgb(165, 59, 206);
}

.user_avatar {
  max-width: 935px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user_avatar img {
  border-radius: 50%;
  width: 50px;
  height:50px
}

.heading-role {
  display: inline;
  align-items: center;
  align-content: flex-start;
}

.service_thumbnail_inner {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.service_thumbnail-avatar {
  width: 100%;
  height: 135px;
  cursor: pointer;
  position: relative;
}

.service_thumbnail-avatar img {
  min-width: 100%;
  height: 135px;
  width: 100%;
  border: 1px solid dashed;
}

.feedback-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 40%;
  width: 40%;
  height: 40%;
  border: 1px solid dashed;
}

.change-token {
  display: inline-flex;
  margin-top: 24px;
}

.news_thumbnail_inner {
  max-width: 935px;
  margin: auto;
  /* padding: 15px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.news_thumbnail_avatar {
  width: 100%;
  height: 115px;
  cursor: pointer;
  position: relative;
}

.news_thumbnail_avatar img {
  min-width: 100%;
  height: 115px;
  width: 100%;
  border: 1px solid dashed;
}

.news_thumbnail_avatar vi {
  min-width: 100%;
  height: 115px;
  width: 100%;
  border: 1px solid dashed;
}

.banner_thumbnail_inner {
  max-width: 935px;
  margin: auto;
  /* padding: 15px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.banner_thumbnail_avatar {
  width: 100%;
  height: 200px;
  cursor: pointer;
  position: relative;
}

.banner_thumbnail_avatar img {
  min-width: 100%;
  height: 200px;
  width: 100%;
  border: 1px solid dashed;
}

.order-thumbnail img {
  /* min-width: 100%; */
  height: 50px;
  max-width: 50px;
  border: 1px solid dashed;
}

.profile-description {
  font-size: 12px;
  line-height: 16px;
}

.quick_update_wrap {
  display: flex;
  opacity: 0;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
  background-color: #0000003b;
  cursor: pointer;
  transition: all 0.25s ease 0s;
  justify-content: center;
}

.quick_update_wrap:hover {
  opacity: 1;
}

.quick_upload {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  background-color: #00000070;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
}

.quick_upload:hover {
  background-color: #00000090;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .profile-description {
    text-align: center;
  }

  .profile_inner {
    flex-direction: column;
  }

  .Polaris-Page {
    padding: 10px;
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination>li {
  display: inline;
}

.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  cursor: pointer;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: var(--p-surface);
  border: 1px solid #ddd;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  z-index: 3;
  color: var(--p-text);
  background-color: var(--p-surface);
  border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: var(--p-text-primary);
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: var(--p-surface);
  border-color: #ddd;
}

.pagination-lg>li>a,
.pagination-lg>li>span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-sm>li>a,
.pagination-sm>li>span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/**
   * Email template ...
   */

.email_menu {
  padding: 15px;
}

.email_menu .email_menu_item {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.email_menu .email_menu_item:hover a,
.email_menu .email_menu_item.active a {
  background-color: #ccc;
}

.email_menu .email_menu_item a {
  display: flex;
}

.email_menu .email_menu_item:last-child {
  border: none;
  padding: 0;
  margin: 0;
}

.ck-editor__editable {
  min-height: 1000px;
}